In [58]:
import  pandas as pd

In [59]:
data_path ="/content/training.1600000.processed.noemoticon.csv"

In [60]:
df= pd.read_csv(data_path, encoding = 'latin-1', names=['target', 'ids', 'date', 'flag', 'user', 'text'])

In [61]:
df.shape

(1600000, 6)

In [62]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   ids     1600000 non-null  int64
 2   date    1600000 non-null  object
 3   flag    1600000 non-null  object
 4   user    1600000 non-null  object
 5   text    1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [64]:
df = df.head()

In [14]:
####lower case removal

In [66]:
lower_flag= df["flag"][0:1600000]

In [67]:
lower_flag

0    NO_QUERY
1    NO_QUERY
2    NO_QUERY
3    NO_QUERY
4    NO_QUERY
Name: flag, dtype: object

In [68]:
lower = lower_flag.str.lower()

In [69]:
lower

0    no_query
1    no_query
2    no_query
3    no_query
4    no_query
Name: flag, dtype: object

In [51]:
## remove_html_tags

In [52]:
import re ## regular expression
def remove_html_tags(text):
    pattern= re.compile('<.*?>@')
    return pattern.sub(r" ", text)

In [53]:
text = "A wonderful little production. <br /><br />The...	"

In [54]:
remove_html_tags(text)

'A wonderful little production. <br /><br />The...\t'

In [46]:
## applying remove_html_tags on entire column

In [47]:
df["text"] = df["text"].apply(remove_html_tags)

In [72]:
df["text"]= df["text"][0:1600000]

In [73]:
df["text"]

0    @switchfoot http://twitpic.com/2y1zl - Awww, t...
1    is upset that he can't update his Facebook by ...
2    @Kenichan I dived many times for the ball. Man...
3      my whole body feels itchy and like its on fire
4    @nationwideclass no, it's not behaving at all....
Name: text, dtype: object

In [49]:
## remove url

In [78]:
def remove_url(text):
  pattern=re.compile('https?://\S+|www\.s+')
  return pattern.sub(r'', text)

In [79]:
df["text"].apply(remove_url)

0    @switchfoot  - Awww, that's a bummer.  You sho...
1    is upset that he can't update his Facebook by ...
2    @Kenichan I dived many times for the ball. Man...
3      my whole body feels itchy and like its on fire
4    @nationwideclass no, it's not behaving at all....
Name: text, dtype: object

In [80]:
## punctuation handaling

In [81]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [82]:
exclude = string.punctuation
exclude

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [83]:
def remove_pun1(text):
  return text.translate(str.maketrans('', '', exclude))

In [84]:
remove_pun1 = df['text'][0:1600000].apply(remove_pun1)

In [85]:
remove_pun1

0    switchfoot httptwitpiccom2y1zl  Awww thats a b...
1    is upset that he cant update his Facebook by t...
2    Kenichan I dived many times for the ball Manag...
3      my whole body feels itchy and like its on fire
4    nationwideclass no its not behaving at all im ...
Name: text, dtype: object

In [95]:
##  incorrect text handalling

In [97]:
from textblob import TextBlob

In [99]:
incorrect_text = "switchfoot httptwitpiccom2y1zl Awww thats a bummer You shoulda got David Carr of Third Day to goooo for worrkk"


textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'switchfoot httptwitpiccom2y1zl Www that a summer You should got David Parr of Third May to good for work'

In [100]:
# stopwords

In [101]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [102]:
sword = stopwords.words('english')

In [103]:
len(sword)

179

In [104]:
def remove_stopwords(text):
    new_text = []

    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [106]:
df['text'][0:1600000] = df['text'][0:1600000].apply(remove_stopwords)

<ipython-input-106-83ce3063b7bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'][0:1600000] = df['text'][0:1600000].apply(remove_stopwords)

In [107]:
df['text'][0:1600000]

0    @switchfoot http://twitpic.com/2y1zl - Awww, t...
1     upset   can't update  Facebook  texting it......
2    @Kenichan I dived many times   ball. Managed  ...
3                  whole body feels itchy  like   fire
4    @nationwideclass no,   behaving  all. i'm mad....
Name: text, dtype: object

In [108]:
## remove_emoji handle

In [109]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [110]:
remove_emoji("Loved the movie. It was 😘😘")

'Loved the movie. It was '

In [111]:
remove_emoji("Lmao 😂😂")

'Lmao '

In [112]:
!pip install emoji

Collecting emoji
  Downloading emoji-2.14.0-py3-none-any.whl.metadata (5.7 kB)
Downloading emoji-2.14.0-py3-none-any.whl (586 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 586.9/586.9 kB 12.7 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.14.0

In [113]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

In [114]:
print(emoji.demojize('Loved the movie. It was 😘'))

Loved the movie. It was :face_blowing_a_kiss:

In [115]:
## Tokenization

In [ ]:
## 1. Using the split function

In [116]:
# word tokenization
sent1 = 'I am going to delhi'
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [117]:
# sentence tokenization
sent2 = 'I am going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
sent2.split('.')

['I am going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [118]:
# Problems with split function
sent3 = 'I am going to delhi!'
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [119]:
sent4 = 'Where do think I should go? I have 3 day holiday'
sent4.split('.')

['Where do think I should go? I have 3 day holiday']

In [120]:
## 2. Regular Expression

In [121]:
import re
sent3 = 'I am going to delhi!'
tokens = re.findall("[\w']+", sent3)
tokens

['I', 'am', 'going', 'to', 'delhi']

In [122]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [124]:

## 3. NLTK

In [127]:
import nltk
nltk.download('punkt_tab')

from nltk.tokenize import word_tokenize, sent_tokenize

sent1 = 'I am going to visit delhi!'
word_tokenize(sent1)

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [128]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [129]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're here to help! mail us at nks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [130]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [131]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

In [132]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

In [133]:
## 4. Spacy (good)

In [139]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [140]:
doc1 = nlp(sent5)
doc2 = nlp(sent6)
doc3 = nlp(sent7)
doc4 = nlp(sent1)

In [141]:
doc4 = nlp(sent1)

In [143]:
doc4

I am going to visit delhi!

In [144]:
for token in doc4:
  print(token)

I
am
going
to
visit
delhi
!

In [145]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset can't update Facebook texting it......
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times ball. Managed ...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, behaving all. i'm mad...."

In [146]:
## Stemmer

In [147]:
from nltk.stem.porter import PorterStemmer

In [148]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [149]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [150]:
text = 'probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie'
print(text)

probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie

In [151]:
stem_words(text)

'probabl my alltim favorit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen it some 15 or more time in the last 25 year paul luka perform bring tear to my eye and bett davi in one of her veri few truli sympathet role is a delight the kid are as grandma say more like dressedup midget than children but that onli make them more fun to watch and the mother slow awaken to what happen in the world and under her own roof is believ and startl if i had a dozen thumb theyd all be up for thi movi'

In [152]:
##Lemmatization

In [153]:
import nltk
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He was running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations="?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)

sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print ("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

Word                Lemma
He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun